@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

footer {
    background-color: #E5F0ED;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}

.email {
    color: #284B63;
    font-size:17px;
}

.email:hover {
    color: #B72A46
}

/*HEADER / NAV BAR */
.ca{
  padding: 10px;
  margin: 10px;
  clear:both;
  overflow:auto;
  background-color: #390040;
  float: center;
}

.logo {
    width: 15%;
    height: auto; 
}

.byteLogo {
    float: center;
}

.menu {
    float: left;
    width: 87%;
    height: auto;    
}

.ca:after {
  content: " ";
  display: table;
  clear: both;
}


nav{
    float:right;
}

.logo img{float:left;width: 140px; height: 140px; border-radius: 50%; overflow: hidden; margin-top: -6px;}

ul li{
    display: inline-block; 
    padding:10px;
    text-decoration: none;
    color:#BCE7FD;
    padding-top: 50px;
}

a {
  text-decoration: none;
  color:#BCE7FD;
  font-size:25px;
}

a:active{
  color:#fef4ae;
}

a:hover {
    color: #E4DAE7;
}

@media screen and (max-width: 800px) {
    .logo {
        width: 100%
    }

    .menu {
        width: 100%;
    }

    ul li {
        width: 100%;
        padding-top: 0px;
    }
    
}

/* END HEADER / NAV BAR */


.flipCard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-top: 20px;
}

.totalCard{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flipCard:hover .totalCard {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  background-color: #DBDFE6;
  color: black;
}

.back {
  transform: rotateY(180deg);
}

img {
    width: 300px;
    height: 300px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.phobiaTitle {
    padding: 5px;
    color: red;
}

.what {
    padding: 3px;
    color: #C0180C;
    font-size: 20px;
}

.description {
    padding: 10px;
}

.intro {
    padding: 10px;
    margin: 10px;
}

#introTitle {
    text-align: center;
}